@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap");

body {
    background-color: #101010;
    margin: 0px;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.time-display {
    font-family: sans-serif;
    font-family: "Roboto Mono";
    color: #fff;
    margin-bottom: .25em;
}

#calendar {
    font-size: 1.5rem;
    font-weight: 400;
}

#clock {
    font-size: 3.5rem;
    font-weight: 600;
}

#search {
    font-family: "Fira Code", monospace;
    font-size: 2rem;
    color: #fa8072;
    width: 100%;
    height: 100vh;
    background-color: #212121;
    display: none;
    position: absolute;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.prompt {
    color: #282a36;
    background: #bd93f9;
    padding: 0px 10px;
    margin: 0em 0.5em;
}

#arrowimg {
  margin-bottom: -2px;
  padding-left: 0.5em;
  height: 32px;
  width: 32px;
}

#search-field {
    font-family: "Fira Code", monospace;
    font-size: 2rem;
    width: 90%;
    padding: 0em 0.5em;
    box-sizing: border-box;
    background-color: #212121;
    border: solid 0px #212121;
    color: #f2f2f2;
    outline: none;
    border-radius: 3px;
}

.weather-container {
    width: 30%;
    background-color: #212121;
    padding: 1.2em;
    border-radius: 3px;
    font-family: "Roboto Mono";
    font-size: 100%;
    color: #fff;
    text-align: center;
}
.inline {
    display: inline-block;
    font-size: 1.2em;
}

.bookmark-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    margin: 1em 0em;
}

@media only screen and (max-width: 960px) {
    .container {
        height: auto;
    }
    #clock {
        margin-top: 1em;
    }
    .container > .bookmark-container {
        flex-direction: column;
        width: 60%;
    }
    .bookmark-container > bookmark-set {
        width: auto;
        margin: 1em 0em;
    }
}

bookmark-set {
    padding: 1em;
    background-color: #212121;
    border-radius: 3px;
    font-family: "Roboto Mono";
    font-size: .85rem;
    width: 13em;
    height: 11.5em;
    margin: 0em .5em;
}

.bookmark-inner-container {
    /* turn this on if you want scroll */
    /*overflow-y: scroll;*/
    height: 80%;
    vertical-align: top;
}
.bookmark-title {
    font-size: 1.1rem;
    font-weight: 600;
    color: #fff;
    margin: 0em 0em .35em 0em;
}
.bookmark {
    text-decoration: none;
    color: #8c8c8b;
    display:block;
    margin: .5em 0em;
}
.bookmark:hover {
    color: #fff;
}